@model ProductVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<div class="col-md-6 mx-auto">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Ürün Bilgileri</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Ürün Ad</label>
                    <input type="text" class="form-control" placeholder="Ürün Adı Girin" asp-for="ProductName">
                    <span asp-validation-for="ProductName"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Ürün Fiyatı</label>
                    <input type="number" class="form-control" placeholder="Ürün Fiyatı Girin" asp-for="UnitPrice">
                    <span asp-validation-for="UnitPrice"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Ürün Stok</label>
                    <input type="number" class="form-control" placeholder="Ürün Fiyatı Girin" asp-for="UnitsInStock">
                    <span asp-validation-for="UnitsInStock"></span>
                </div>

                <div class="form-group">
                    <label>Ürün Görsel</label>
                    <input type="file" class="form-control" name="productImage">
                </div>

                <div class="form-group">
                    <div>
                        <select class="form-control" asp-items="@ViewBag.Categories" asp-for="CategoryId">
                            <option selected="" disable>Lütfen Kategori Seçin</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Ürün Açıklama</label>
                    <textarea class="form-control" cols="5" rows="8" asp-for="Description"></textarea>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Ürün Oluştur</button>
            </div>
        </form>
    </div>
    <!-- /.card -->
    <!-- general form elements -->










</div>


