<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            @*@if (ViewBag.Categories != null)
            {
                foreach (var category in ViewBag.Categories as List<Category>)
                {
                    <li><a asp-action="GetProducts" asp-controller="Category" asp-route-id="@category.Id" class="dropdown-item">@category.CategoryName</a></li>
                }
            }*@
        </ul>
    </li>
</ul>